@font-face {
    font-family: "Arapey";
    src: url("../fonts/arapey_regular.ttf");
}

@font-face {
    font-family: "Arapey Italic";
    src: url("../fonts/arapey_italic.ttf");
}

@font-face {
    font-family: "Rox CF";
    src: url("../fonts/rox_cf.ttf");
}

@font-face {
    font-family: "Rox CF Bold";
    src: url("../fonts/rox_cf_bold.otf");
}

body {
    color: #fff;
    font-size: 18px;
    font-family: 'Rox CF', sans-serif;
    background-color: #07072d;
}

.form-control {
    font-size: 16px;
}

.btn {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Rox CF Bold';
    border-color: #F1D3CA;
    background-color: #F1D3CA;
}

.btn:hover {
    color: #000;
    background-color: #F1D3CA;
}

#wedding-success,
#wedding-failed {
    display: none;
}

#wedding-success {
    color: #4BB543;
}

#wedding-failed {
    color: #ff0033;
}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 100px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    height: 500px;
    border: 3px solid blue;
    margin: 10px;
}