@font-face {
    font-family: "Arapey";
    src: url("../fonts/arapey_regular.ttf");
}

@font-face {
    font-family: "Arapey Italic";
    src: url("../fonts/arapey_italic.ttf");
}

@font-face {
    font-family: "Rox CF";
    src: url("../fonts/rox_cf.ttf");
}

@font-face {
    font-family: "Rox CF Bold";
    src: url("../fonts/rox_cf_bold.otf");
}

body {
    color: #fff;
    font-size: 18px;
    font-family: 'Rox CF', sans-serif;
    background-color: #07072d;
}

.form-control {
    font-size: 16px;
}

.btn {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Rox CF Bold';
    border-color: #F1D3CA;
    background-color: #F1D3CA;
}

.btn:hover {
    color: #000;
    background-color: #F1D3CA;
}

#ceremony-success,
#ceremony-failed,
#reception-success,
#reception-failed,
#afterparty-success,
#afterparty-failed {
    display: none;
}